:root {
    --main-color: #00c471;
    --secondary-color: #00A760;
    --primary-color: #f9e15c;
    --neutral-color: #FFFFFF;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    /*border-bottom: 2px solid var(--main-color);*/
    /*padding-bottom: 5px;*/
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    background-color: var(--secondary-color);
}

.dynamic-input {
    margin-bottom: 10px;
}

.dialogue-entry {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border-left: 4px solid var(--main-color);
}

.dialogue-question-text, .dialogue-answer-text {
    font-weight: bold;
    display: block;
}

.dialogue-question, .dialogue-answer {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

.dialogue-buttons {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.dialogue-buttons button {
    flex: 1;
    font-size: 12px;
    padding: 5px;
}

.query-section-title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    /*border-bottom: 2px solid var(--main-color);*/
    /*padding-bottom: 5px;*/
    margin-bottom: 15px;
}

.query-container {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
}

.dynamic-input {
    margin-bottom: 10px;
}

.dynamic-input label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.dynamic-input textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-dialogue-button {
    display: block;
    width: 100%;
    margin: 0 auto;
    /*background-color: #f9f9f9;*/
    background-color: #f9f9f9;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.add-dialogue-button:hover {
    background-color: #f4f4f4;
}

.right-button {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

label, input, textarea, span {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}

label {
    font-weight: 700;
}
